<div class="row menubar">
    <a href="/create"><div class="col-xs-2"><span class="helper"></span><span class="glyphicon glyphicon-plus"></span></div></a>
    <a href="/"><div class="col-xs-8"><span class="helper"></span><img src="/images/logowhite.png"/></div></a>
    <a href="/create"><div class="col-xs-2"><span class="helper"></span><span class="glyphicon glyphicon-list"></span></div></a>

    
</div>

