<div class="playmenu">
    <a href="/playlist"><div class="option" id="option1"><span class="helper"></span><span class="glyphicon glyphicon-play-circle"></span>Play <br/> another Video</div></a>
    <a href="/create"><div class="option" id="option2"><span class="helper"></span><span class="glyphicon glyphicon-plus"></span>Create <br/>another Video</div></a>
    <a href="/vidtosetlist/{{videoId}}"><div class="option" id="option3"><span class="helper"></span><span class="glyphicon glyphicon-th-list"></span>Add to Setlist</div></a>
    <a href="/editvideo/{{videoId}}"><div class="option" id="option4"><span class="helper"></span><span class="glyphicon glyphicon-edit"></span>Edit Title <br/> and Description</div></a>
    <a href="/editvideo/deleteconfirm/{{videoId}}"><div class="option" id="option5"><span class="helper"></span><span class="glyphicon glyphicon-trash"></span>Delete Video</div></a>
</div>

