<!-- All the speed controls etc -->
<a href="" class="control-button playback-button"  ng-click="clickedPausePlay()" >
        <i class="fa fa-play control-pauseplay"ng-class="{active: playbackActive(1)}"></i>
</a>


<span class="control-time">
    <a class="control-current-time"> </a> /
    <a class="control-max-time"></a>
</span>

<span class="control-divider">|</span>

<span class="button-group-with-label">
    <a href="" class="control-button playback-button" ng-show="playbackRateExists(.25)" ng-click="clickedPlaybackRate(.25)" ng-class="{active: playbackActive(.25)}">
        .25x
    </a>
    <a href="" class="control-button playback-button" ng-show="playbackRateExists(.5)" ng-click="clickedPlaybackRate(.5)" ng-class="{active: playbackActive(.5)}">
        .5x
    </a>
    <span class="control-sub-label">
        Speed
    </span>
</span>



<span class="control-divider">|</span>

<span class="control-fine button-group-with-label">
    <a href="" class="control-button" ng-click="clickedIncTime(-.1)">
        {{!-- <i class="fa fa-angle-double-left with-text"></i> --}}
        <span class="control-text">
            -0.1s
        </span>
    </a>
    <a href="" class="control-button" ng-click="clickedIncTime(.1)">
        {{!-- <i class="fa fa-angle-double-right with-text"></i> --}}
        <span class="control-text">
            +0.1s
        </span>
    </a>
    <span class="control-sub-label">
        Jump
    </span>
</span>


{{!-- <a href="" class="control-button playback-button" ng-show="playbackRateExists(1.5)" ng-click="clickedPlaybackRate(1.5)" ng-class="{active: playbackActive(1.5)}">
    1.5x
</a>
<a href="" class="control-button playback-button"  ng-show="playbackRateExists(2)" ng-click="clickedPlaybackRate(2)" ng-class="{active: playbackActive(2)}">
    2x
</a>
 --}}
<!-- Time display. set in breakpoint_classes.js, fn updateTime() -->


{{!-- <span class="control-divider">|</span> --}}


<a href=""  class="control-button hide" ng-click="clickedVolume()">
    <i class="fa fa-volume-up control-sound" ></i>
</a>

{{!-- <span class="control-divider">|</span> --}}
<!-- Breakpoint controls. these will be refactored soon -->

<span class="breakpoint-related-controls">
    <a href="" class="control-button control-button-with-text" ng-show="hasCurrentBreakpoint()" ng-click="clickedSetStartTime()">
        <i class="fa fa-step-backward control-addBreakpoint with-text"></i>
        <span class="control-helper finish">
            Edit Start
        </span>
    </a>

    <a href="" class="control-button control-button-with-text" ng-show="hasCurrentBreakpoint()" ng-click="clickedSetEndTime()">
        <i class="fa fa-step-forward control-addBreakpoint with-text"></i>
        <span class="control-helper finish">
            Set End
        </span>
    </a>

    <a class="control-button control-button-with-text" href="" ng-show="hasCurrentBreakpoint()"  ng-click="clickedLoopOnCurrent(event)" >
        <i class="fa fa-repeat control-repeat with-text" ng-class="{active: loopOnCurrent}" ></i>
        <span class="control-helper">
            Loop on BP
        </span>
    </a>
{{!-- 
    <a href="" class="control-button control-button-with-text" ng-show="false" ng-click="clickedSaveBreakpoint()">
        <i class="fa fa-check control-addBreakpoint" ></i>
        <span class="control-helper finish">
            Save BP
        </span>
    </a> --}}

    <a href="" class="control-button control-button-with-text" ng-show="true" ng-click="clickedAddBreakpoint()">
        <i class="fa fa-plus control-addBreakpoint with-text" ></i>
        <span class="control-helper add-new">
            Add BP
        </span>
    </a>

</span>
