<!doctype html>

<html>
<head>
	<title>Breakpoint</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css/">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href="/css/application.css" rel="stylesheet">
	<link href="/css/help.css" rel="stylesheet">
</head>

<body>
	<img class="helpContainer" src="/images/homepage.png"/> 
	<div class="circleContainerContainer">
		<img id ="clicker1" class="greenCircleContainer" src="/images/Click-1.png"/>
		<img id = "1" class="circleContainer" src="/images/PLAY.png"/>
		<img id = "2" class="circleContainer" src="/images/How To.png"/>
	</div>
	<!-- <img class="helpContainer" src="/images/homepage.png"/> 
	<div class="circleContainerContainer">
		<img id ="clicker1" class="greenCircleContainer" src="/images/CLICK.png"/>
		<img id = "1" class="circleContainer" src="/images/PLAY.png"/>
		<img id = "2" class="circleContainer" src="/images/HOWTO.png"/>
	</div> -->
			
    <img class="helpContainer" id = "one" src="/images/FirstMenu.png"/> 
    <div class="circleContainerContainer">
		<img  id = "clicker2" class="greenCircleContainer" src="/images/Click-1.png"/>
		<img id = "3" class="circleContainer" src="/images/Recently Watched.png"/>
		<img id = "4" class="circleContainer" src="/images/Your Setlists.png"/>
	</div>
	
	<img class="helpContainer" id = "two" src="/images/Create-Setlist.png"/> 
	<div class="circleContainerContainer">
		<img id= "clicker3" class="greenCircleContainer" src="/images/Click-1.png"/>
		<img id = "5" class="circleContainer" src="/images/Edit Setlist.png"/>
		<img id = "6" class="circleContainer" src="/images/Fill In.png"/>
	</div>
	<img class="helpContainer" id = "two" src="/images/Create-Setlist.png"/> 
	<img class="helpContainer" id="three" src="/images/search.png"/>
	<img class="greenCircleContainer" src="/images/Search Videos.png"/>
	<img class="helpContainer" id="four" src="/images/kittens-result.jpg"/>
	<img class="greenCircleContainer" src="/images/Kittens.png"/>
	<img class="helpContainer" id = "one" src="/images/VIDEO.png"/>
	<div class="circleContainerContainer">
		<img id= "clicker4" class="greenCircleContainer" src="/images/Click-1.png"/>
		<img id = "7" class="circleContainer" src="/images/Buttons Circle.png"/>
		<img id = "8" class="circleContainer" src="/images/Add Breakpoint.png"/>
	</div> 
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
