.title {
	position: relative;
	top: -30px;
	height: 30px;
	background: rgba(0,0,0,0.9);
	font-weight: 600;
	font-size: 12pt;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	margin-bottom: -30px;
	overflow: hidden;
	text-align: right;
}

.description {
	margin-top: 10px;
	margin-bottom: 30px;
	padding-left: 10px;
	color: white;
	font-weight: 300;
	font-size: 9.5pt;
	line-height: 1.1;
}

.description-button {
	display: none;
     color: #A0A0A0;
     margin-top: 10px;
     margin-bottom: 30px;
     font-weight: 500;
     text-transform: uppercase;
     font-size: 9.5pt;
     line-height: 1.1;
}

.description-button .glyphicon {
     margin-right: 8px;
}

.thumbnails {
	width: 100%;
	height: 165px;
	box-shadow: 1px 1px 1px #A0A0A0;
}

.over {
	display: none;
}

.over .glyphicon {
	height: 140px;
	line-height: 140px;
	font-size: 40pt;
}

.thumbnails:hover .over {
	width: 100%;
	height: 140px;
	display: inline-block;
	background: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
}


#gobacktop {
	text-align: center;
	font-size: 12pt;
	font-weight: 700;
	margin-bottom: 10px;
}
