.grid-videoitem {
	display: inline-block;
	width: 31%;
	margin-left: 0.8%;
	margin-right: 0.8%;
	margin-bottom: 5px;
	position: relative;
	height: 0;
	padding-bottom: 30%;
}

.grid-thumbnails {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 2px 2px 2px black;
}

.preview {
	display: none;
	position: absolute;
	width: 90%;
	left: 5%;
	z-index: 10000000000;
	background: rgba(255,255,255,0.9);
	border-radius: 10px;
	padding: 15px;
	box-shadow: 2px 2px 2px black;
}

.preview-title {
	color:  #ee5259;
	font-weight: 600;
	font-size: 12pt;
	margin-top: 15px;
	margin-bottom: 10px;
	line-height: 1.1;
}

.preview-description {
	font-size: 10pt;
	font-weight: 300;
	line-height: 1.1;
	margin-bottom: 15px;
}

.preview-thumbnails {
	width: 100%;
	height: 150px;
}

.preview-over {
	display: none;
	width: 100%;
	height: 100%;
}

.preview-over .glyphicon {
	height: 100%;
	line-height: 150px;
	font-size: 50pt;
}

.preview-thumbnails:hover .preview-over {
	display: inline-block;
	color: white;
	text-align: center;
	background: rgba(0,0,0,0.5);
}

.play, .goback {
	text-transform: uppercase;
	font-size: 13pt;
	font-weight: 700;
}

.play {
	float: left;
}
.goback {
	float: right;
	color: #707070;
}