#container {
  background: #1b1b1b; }

.hide {
  display: none !important; }

.glyphicon-list {
  height: 0 !important; }

#portrait-warning {
  position: absolute;
  top: 80px;
  text-align: center;
  width: 100%; }

#warning-message {
  color: white;
  font-size: 20pt;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%; }

#warning-logo {
  margin-top: 30px;
  width: 200px; }

@media only screen and (orientation: landscape) {
  #landscape-view {
    display: ''; }
  #portrait-warning {
    display: none; } }

/* Smartphones (portrait) ----------- */
@media only screen and (orientation: portrait) {
  #portrait-warning {
    display: ''; }
  #landscape-view {
    display: none; } }

.smartphone-landscape {
  width: 480px;
  height: 320px;
  background: black; }

#player {
  position: relative; }
  #player .player-main {
    width: 350px;
    height: 320px;
    display: inline-block;
    position: absolute; }
  #player .player-controls {
    position: relative;
    width: 100%; }
  #player .player-slider {
    width: 100%; }
  #player .main-slider {
    cursor: pointer;
    width: 100%;
    background: #777777;
    height: 10px;
    position: relative; }
  #player .filled-slider {
    height: 100%;
    background: #800000; }
  #player .current-breakpoint-slider {
    background: rgba(0, 200, 0, 0.5);
    height: 100%;
    position: absolute;
    top: 0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    z-index: 3; }
  #player .slider-breakpoint {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: -15px;
    z-index: 4; }
  #player .slider-breakpoint-img.active, #player .slider-breakpoint-img:hover {
    border: solid 2px #ff0000;
    top: -2px;
    left: -2px; }
  #player .slider-breakpoint-img {
    height: 20px;
    width: 20px;
    vertical-align: top; }
  #player .slider-breakpoint-icon.active {
    color: #2920f5; }
  #player .slider-breakpoint-icon {
    cursor: pointer;
    font-size: 18px;
    color: #eeeeee; }
    #player .slider-breakpoint-icon:active {
      color: #0000ff; }
    #player .slider-breakpoint-icon:hover {
      color: #000080; }
    #player .slider-breakpoint-icon.to-remove {
      color: #ff0000; }
  #player .control-buttons {
    position: relative; }
  #player .control-button {
    font-size: 1.2em;
    display: inline-block;
    padding: 15px 10px;
    padding-top: 0px; }
  #player .control-button .fa {
    cursor: pointer;
    color: #999999; }
    #player .control-button .fa:hover {
      color: #0080ff; }
    #player .control-button .fa:active {
      color: #0000ff; }
  #player .control-repeat.active {
    color: #0000ff; }
  #player .control-button.playback-button, #player .control-pauseplay {
    color: #4c4c4c; }
    #player .control-button.playback-button.active, #player .control-pauseplay.active {
      color: #ffffff; }
  #player .control-pauseplay {
    font-size: 1.5em; }
  #player .control-button.playback-button {
    font-size: 1.1em; }
  #player .control-time {
    padding: 0 8px; }
  #player .control-max-time {
    font-size: 10px;
    color: #999999; }
  #player .control-current-time {
    font-size: 10px;
    color: #dddddd; }
  #player .control-sound, #player .control-nosound {
    font-size: 0.8em; }
  #player .hidden {
    opacity: 0; }
  #player .fa.with-text {
    font-size: 1.2em;
    text-align: center;
    display: block;
    position: relative;
    top: 7px; }
  #player .control-divider {
    font-size: 1.2em;
    color: #2e2e2e; }
  #player .breakpoint-related-controls {
    position: absolute;
    right: 10px; }
  #player .control-helper {
    top: 7px;
    position: relative;
    font-size: 10px;
    display: block;
    text-align: center;
    color: #999999; }
  #player .player-iframe {
    width: 350px;
    height: 270px; }
  #player .player-sidenav {
    width: 130px;
    height: 320px;
    background: #252525;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5; }
  #player .player-menu {
    height: 30px;
    color: #cccccc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: -moz-linear-gradient(45deg, #cc0099 0%, #ff0033 80%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(10%, #cc0099), color-stop(80%, #ff0033));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #cc0099 0%, #ff0033 80%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #cc0099 0%, #ff0033 80%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #cc0099 0%, #ff0033 80%);
    /* IE10+ */
    background: linear-gradient(45deg, #cc0099 0%, #ff0033 80%);
    /* W3C */ }
  #player .player-breakpoints {
    display: block;
    overflow-y: auto;
    height: 290px;
    width: 130px; }

.breakpoints-ul {
  color: white;
  padding: 0;
  list-style: none;
  background: #1b1b1b; }

.breakpoint-li {
  position: relative;
  overflow: hidden; }
  .breakpoint-li .breakpoint {
    background: #191919; }
  .breakpoint-li:nth-child(odd) .breakpoint {
    background: #222222; }
  .breakpoint-li .breakpoint.active, .breakpoint-li .breakpoint:hover {
    background: #000094;
    color: #f3f3f3; }
  .breakpoint-li .breakpoint-remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    font-size: 0.8em;
    color: #4c4c4c;
    cursor: pointer; }
    .breakpoint-li .breakpoint-remove:hover {
      color: #800040; }
    .breakpoint-li .breakpoint-remove:active {
      color: #610030; }

.breakpoint {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  max-height: 45px;
  display: block;
  font-size: 0.8em;
  color: #e6e6e6;
  padding: 8px 5px; }
  .breakpoint:hover {
    text-decoration: none; }
  .breakpoint .breakpoint-time {
    display: inline; }
  .breakpoint .breakpoint-name {
    color: #666666;
    margin-left: 6px;
    display: inline; }

.breakpoint-empty {
  color: #5F5F5F;
  text-align: center;
  padding: 8px 5px;
  display: block; }

.complaint {
  color: white; }

.debug-button {
  position: fixed;
  bottom: 0; }
